# Load the Rails application.
require File.expand_path('../application', __FILE__)

Rails.env = ENV['RAILS_ENV'] || '{{ rails_env }}'

# Initialize the Rails application.
Rails.application.initialize!
