default: &default
  user: fedoraAdmin
  password: <%= Rails.application.secrets.fedora_pass %>
  url: http://{{ server_name }}:{{ tomcat_port }}/fedora/rest

development:
  base_path: /devel
  <<: *default

test:
  base_path: /test
  <<: *default

production:
  base_path: /prod
  <<: *default
