default: &default
  fedora_pass: {{ fedora_pass }}
  hydra_pg_pass: {{ hydra_pg_pass }}
  localhost_port: {{ localhost_port }}
  pg_pass: {{ pg_pass }}
  secret_key_base: {{ rails_secret_key_base }}

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
