# Where your java installation lives
if [ $(uname) == "Linux" ]; then
  JAVA_HOME=/usr/lib/jvm/jre
else
  JAVA_HOME=$(/usr/libexec/java_home)
fi

# This variable is used to figure out if config is loaded or not.
TOMCAT_CFG_LOADED="1"

# In new-style instances, if CATALINA_BASE isn't specified, it will
# be constructed by joining TOMCATS_BASE and NAME.
TOMCATS_BASE={{ tomcat }}

# Where your tomcat installation lives
CATALINA_HOME={{ tomcat }}

# References
# - http://wiki.apache.org/solr/SolrLogging
# tomcat settings for hydra (Fedora and Solr 4.x)
CATALINA_OPTS="-Dsolr.solr.home={{ solr_home }} -Dfcrepo.home={{ project_dir }}/fedora-data -Djava.awt.headless=true -XX:+UseG1GC -XX:+UseCompressedOops -XX:-UseLargePagesIndividualAllocation -XX:MaxPermSize=128M -Xms512m -Xmx4096m -Dlog4j.configuration=file:///usr/local/opt/tomcat/libexec/conf/log4j.properties -server"

if [ $(uname) == "Linux" ]; then
  # System-wide tmp
  CATALINA_TMPDIR="/var/cache/tomcat/temp"
fi

# You can change your tomcat locale here
#LANG="en_US"

# Run tomcat under the Java Security Manager
SECURITY_MANAGER="false"
