default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: {{ hydra_pg_user }}

development:
  <<: *default
  database: {{ hydra_db }}

test:
  <<: *default
  database: {{ hydra_db }}_test

production:
  <<: *default
  database: {{ hydra_db }}
