#!/bin/bash

export PGPASSWORD="{{ hydra_pg_pass }}"

# removes 2-day-old backup
rm {{ project_dir }}/pg_backups/hydra_day_old.bak
# renames lates backup to day-old
mv {{ project_dir }}/pg_backups/hydra.bak {{ project_dir }}/pg_backups/hydra_day_old.bak

pg_dump -U {{ hydra_pg_user }} hydra > {{ project_dir }}/pg_backups/hydra.bak
